Business challenge/requirement
GoodsKart—largest e-commerce company of Indonesia, with revenue of $2B+ has acquired another e-commerce company FairDeal. FairDeal has its own IT system to maintain the records of customers, sales etc. For ease of maintenance and cost savings, GoodsKart is integrating customer databases of both the organizations hence customer data of FairDeal must be converted in GoodsKart customer data format.
Key issues
GoodsKart customer data has more fields than in FairDeal customer data. Hence FairDeal data needs to be split and stored in GoodsKart Customer Object-Oriented Data Structure.
Considerations
System should convert the data at run time

Business benefits
GoodsKart can eventually restructure IT systems of FairDeal and reduce its cost by 20-30%
Approach to Solve
You must use fundamentals of Python taught in module 3.
1. Read FairDealCustomerData.csv
2. Name field contains full name – use regular expression to separate title, first name, last name
3. Store the data in Customer Class
4. Create Custom Exception – CustomerNotAllowedException
5. Pass a customer to function "createOrder" and throw CustomerNotAllowedException in case of blacklisted value is 1

Enhancements for code
You can try these enhancements in code
1. Change function createOrder to take productname and product code as input
2. Create Class Order
Return object of type Order in case customer is eligible

In [7]:
# 1. Read FairDealCustomerData.csv

import pandas as pd

df = pd.read_csv(r'C:\D\Python_25Sep21\M4CS1_dataset\FairDealCustomerData.csv', header=None)
df.columns = ['last_name', 'name', 'blacklisted']
df.head()

    last_name                 name  blacklisted
0      Braund     Mr. Owen Harris             1
1   Heikkinen         Miss. Laina             0
2       Allen   Mr. William Henry             0
3       Moran           Mr. James             0
4    McCarthy       Mr. Timothy J             0

In [8]:
#2. Name field contains full name – use regular expression to separate title, first name, last name

import re

df['title'] =  df['name'].apply(lambda x : re.split(r'\.', x)[0])
df['first_name'] =  df['name'].apply(lambda x : re.split(r'\.', x)[1])

In [9]:
df.head()

    last_name                 name  blacklisted  title       first_name
0      Braund     Mr. Owen Harris             1     Mr     Owen Harris
1   Heikkinen         Miss. Laina             0   Miss           Laina
2       Allen   Mr. William Henry             0     Mr   William Henry
3       Moran           Mr. James             0     Mr           James
4    McCarthy       Mr. Timothy J             0     Mr       Timothy J

In [11]:
df = df[['title', 'first_name', 'last_name', 'blacklisted']]

In [12]:
df.head()

   title       first_name   last_name  blacklisted
0     Mr     Owen Harris       Braund            1
1   Miss           Laina    Heikkinen            0
2     Mr   William Henry        Allen            0
3     Mr           James        Moran            0
4     Mr       Timothy J     McCarthy            0

In [13]:
# 3. Store the data in Customer Class

class Customer:
    
    def __init__(self, title, first_name, last_name, blacklisted):
        
        self.title = title
        self.first_name = first_name
        self.last_name = last_name
        self.blacklisted = blacklisted

In [15]:
# 4. Create Custom Exception – CustomerNotAllowedException


class CustomerNotAllowedException(Exception):
    """Raised when the customer is blacklisted"""
    pass

In [16]:
# 5. Pass a customer to function "createOrder" and throw CustomerNotAllowedException in case of blacklisted value is 1

class Customer:
    
    def __init__(self, title, first_name, last_name, blacklisted):
        
        self.title = title
        self.first_name = first_name
        self.last_name = last_name
        self.blacklisted = blacklisted
        
        if self.blacklisted == 1:
            raise CustomerNotAllowedException

In [18]:
cust_list = df.to_numpy()

In [19]:
cust_list[0]

array([' Mr', ' Owen Harris ', ' Braund', 1], dtype=object)

In [22]:
cust1 = Customer(cust_list[0][0], cust_list[0][1], cust_list[0][2], cust_list[0][3])

CustomerNotAllowedException:

In [23]:
cust2 = Customer(cust_list[1][0], cust_list[1][1], cust_list[1][2], cust_list[1][3])

In [35]:
# Enhancements for code
# You can try these enhancements in code
# 1. Change function createOrder to take productname and product code as input
# 2. Create Class Order
# Return object of type Order in case customer is eligible


class Customer:
    
    def __init__(self, title, first_name, last_name, blacklisted):
        
        self.title = title
        self.first_name = first_name
        self.last_name = last_name
        self.blacklisted = blacklisted
        
        if self.blacklisted == 1:
            raise CustomerNotAllowedException
            
    def createOrder(self, product_name, product_code):
        print(f'Confrats. {product_name} added to your cart.')
        

class Order:
    
    def __init__(self, customer, product_name):
        
        self.customer = customer
        self.product_name = product_name
        
        print(f'Order placed for {self.product_name} for customer {self.customer.first_name}.')

In [36]:
cust2 = Customer(cust_list[1][0], cust_list[1][1], cust_list[1][2], cust_list[1][3])

In [37]:
cust2.createOrder('Python Book', 101)

Confrats. Python Book added to your cart.

In [38]:
ord1 = Order(cust2, 'Python Book')

Order placed for Python Book for customer  Laina .