Domain – Social Science
Focus – Creating Web Map
Business challenge/requirement
You are a data analyst in San Francisco (SFO) City IT Department. SFO Police has shared crime data for the year 2016. Data contains various incidents that have happened throughout the year, along with the geolocation data of the crime. You need to prepare effective web maps to analyze and present the data. SFO Commissioner of Police will reassign the forces based on the density of various crime.
Key issues
Data should be displayed pictorially in a map to get the desired attention of top authorities.
Considerations
NONE
Data volume
Approx. 150K records – file Police_Department_Incidents_Year_2016_.csv (Data is downloaded from https://datasf.org/opendata/)
Additional information
NA
Business benefits
SFO City Corporation is looking to mitigate the crime rate based on the effective relocation of police personnel, thus reducing the overall security cost.

Approach to Solve
You must use the fundamentals of Web Mapping and create three maps.
Display the first 100 records from the data. The map will be saved in BasicWebMap.html – view it in browser
1. For the latest 7 days of data, create a Web Map of crimes, categorized as ROBBERY
2. For the latest 15 days of data, create a Web Map of crimes, categorized as FRAUD and GAMBLING. Change the icon to font awesome icon (http://fontawesome.io/icons/)
3. BONUS ASSIGNMENT -- Display heatmap for Divvy Bikes. Divvy Bikes runs bike rental services in Chicago, and their bike station geolocation data is shared. Refer to BikesHeatMap.py, Divvy_Stations_2016_Q3.csv, and Divvy_Stations_2016_Q4.csv
Enhancements for code
You can try these enhancements in code
1. A lot of visual options are available for changing the map (You can refer to https://python-visualization.github.io/folium/modules.html for options)
2. Change the code to create a Web Map for ‘BURGLARY’ for the last 7 days
3. BONUS ASSIGNMENT – Uncomment the code to see the changes

In [2]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv(r'C:\D\Python_25Sep21\M9_dataset\983_m9_datasets_v1.0\Police_Department_Incidents_Year_2016_.csv')

In [23]:
df.head(6)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.40340479147905)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.40340479147905)",12005827212168
2,160075430,ASSAULT,AGGRAVATED ASSAULT WITH A DEADLY WEAPON,Tuesday,01/26/2016 12:00:00 AM,19:20,INGLESIDE,NONE,600 Block of ANDERSON ST,-122.415432,37.735398,"(37.73539756503084, -122.4154323065427)",16007543004013
3,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.729980967299596, -122.38885620429184)",14105926363010
4,160782306,MISSING PERSON,FOUND PERSON,Monday,09/19/2016 12:00:00 AM,05:30,PARK,NONE,2000 Block of ELLIS ST,-122.439954,37.781359,"(37.78135894167133, -122.43995406172893)",16078230675000
5,160798999,NON-CRIMINAL,CASE CLOSURE,Saturday,10/01/2016 12:00:00 AM,20:10,PARK,"ARREST, BOOKED",2600 Block of GEARY BL,-122.446613,37.782246,"(37.782245822391744, -122.44661297883863)",16079899975030

In [24]:
df.shape

(150851, 13)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150851 entries, 0 to 150850
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   IncidntNum  150851 non-null  int64
 1   Category    150851 non-null  object
 2   Descript    150851 non-null  object
 3   DayOfWeek   150851 non-null  object
 4   Date        150851 non-null  object
 5   Time        150851 non-null  object
 6   PdDistrict  150850 non-null  object
 7   Resolution  150851 non-null  object
 8   Address     150851 non-null  object
 9   X           150851 non-null  float64
 10  Y           150851 non-null  float64
 11  Location    150851 non-null  object
 12  PdId        150851 non-null  int64
dtypes: float64(2), int64(2), object(9)
memory usage: 15.0+ MB

In [26]:
# Display the first 100 records from the data. The map will be saved in BasicWebMap.html – view it in browser
# 1. For the latest 7 days of data, create a Web Map of crimes, categorized as ROBBERY
# 2. For the latest 15 days of data, create a Web Map of crimes, categorized as FRAUD and GAMBLING. Change the icon to font

In [27]:
df['Date'] = pd.to_datetime(df['Date'])

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150851 entries, 0 to 150850
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   IncidntNum  150851 non-null  int64
 1   Category    150851 non-null  object
 2   Descript    150851 non-null  object
 3   DayOfWeek   150851 non-null  object
 4   Date        150851 non-null  datetime64[ns]
 5   Time        150851 non-null  object
 6   PdDistrict  150850 non-null  object
 7   Resolution  150851 non-null  object
 8   Address     150851 non-null  object
 9   X           150851 non-null  float64
 10  Y           150851 non-null  float64
 11  Location    150851 non-null  object
 12  PdId        150851 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 15.0+ MB

In [29]:
df.head(6)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,2016-01-29,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.40340479147905)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,2016-01-29,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.40340479147905)",12005827212168
2,160075430,ASSAULT,AGGRAVATED ASSAULT WITH A DEADLY WEAPON,Tuesday,2016-01-26,19:20,INGLESIDE,NONE,600 Block of ANDERSON ST,-122.415432,37.735398,"(37.73539756503084, -122.4154323065427)",16007543004013
3,141059263,WARRANTS,WARRANT ARREST,Monday,2016-04-25,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.729980967299596, -122.38885620429184)",14105926363010
4,160782306,MISSING PERSON,FOUND PERSON,Monday,2016-09-19,05:30,PARK,NONE,2000 Block of ELLIS ST,-122.439954,37.781359,"(37.78135894167133, -122.43995406172893)",16078230675000
5,160798999,NON-CRIMINAL,CASE CLOSURE,Saturday,2016-10-01,20:10,PARK,"ARREST, BOOKED",2600 Block of GEARY BL,-122.446613,37.782246,"(37.782245822391744, -122.44661297883863)",16079899975030

In [31]:
df['Date'].max()

Timestamp('2016-12-31 00:00:00')

In [34]:
last_7day_df = df[df.Date > df['Date'].max() - pd.to_timedelta("7day")]
last_7day_df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
3565,161052407,VEHICLE THEFT,STOLEN TRUCK,Tuesday,2016-12-27,12:00,NORTHERN,NONE,200 Block of WALLER ST,-122.427819,37.771540,"(37.77154022006745, -122.42781856612325)",16105240707025
3586,161052720,NON-CRIMINAL,FOUND PROPERTY,Wednesday,2016-12-28,06:00,MISSION,NONE,600 Block of VALENCIA ST,-122.421748,37.762744,"(37.762743660114744, -122.42174765046308)",16105272072000
3695,161057322,ROBBERY,"ROBBERY, ARMED WITH A KNIFE",Thursday,2016-12-29,18:20,MISSION,"ARREST, BOOKED",200 Block of VALENCIA ST,-122.422268,37.769577,"(37.76957685655732, -122.42226756626336)",16105732203072
3696,161057918,EMBEZZLEMENT,"EMBEZZLEMENT, GRAND THEFT BY EMPLOYEE",Thursday,2016-12-29,19:51,TENDERLOIN,NONE,100 Block of OFARRELL ST,-122.407244,37.786565,"(37.78656476076854, -122.4072440870319)",16105791810045
4828,161051960,NON-CRIMINAL,TRAFFIC ACCIDENT,Wednesday,2016-12-28,17:21,BAYVIEW,NONE,0 Block of GILROY ST,-122.388775,37.716530,"(37.716529843845144, -122.38877458520952)",16105196068050

In [59]:
last_7day_df_rob =  last_7day_df[last_7day_df['Category'] == 'ROBBERY']

In [60]:
last_7day_df_rob.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
3695,161057322,ROBBERY,"ROBBERY, ARMED WITH A KNIFE",Thursday,2016-12-29,18:20,MISSION,"ARREST, BOOKED",200 Block of VALENCIA ST,-122.422268,37.769577,"(37.76957685655732, -122.42226756626336)",16105732203072
4912,161054102,ROBBERY,"ROBBERY, BODILY FORCE",Tuesday,2016-12-27,04:52,SOUTHERN,NONE,100 Block of 6TH ST,-122.407975,37.780310,"(37.780309908281374, -122.40797509304332)",16105410203074
6552,161054306,ROBBERY,"ROBBERY, BODILY FORCE",Wednesday,2016-12-28,18:00,BAYVIEW,NONE,ARKANSAS ST / 20TH ST,-122.398219,37.759909,"(37.75990923766697, -122.39821861129045)",16105430603074
11463,161060739,ROBBERY,"ROBBERY, BODILY FORCE",Friday,2016-12-30,19:10,BAYVIEW,NONE,0 Block of NORTHRIDGE RD,-122.375605,37.730722,"(37.73072152157033, -122.37560517196246)",16106073903074
23054,161053126,ROBBERY,"ROBBERY OF A COMMERCIAL ESTABLISHMENT, STRONGARM",Wednesday,2016-12-28,12:45,MISSION,"ARREST, BOOKED",2400 Block of MARKET ST,-122.435774,37.762459,"(37.76245918462147, -122.43577384639478)",16105312603024

In [61]:
last_7day_df_rob.shape

(60, 13)

In [62]:
last_7day_df_rob['Date'].value_counts()

2016-12-28    13
2016-12-27    10
2016-12-31    10
2016-12-26     7
2016-12-25     7
2016-12-30     7
2016-12-29     6
Name: Date, dtype: int64

In [64]:
location_list = list(last_7day_df_rob['Location'])

In [65]:
location_list

[(37.76957685655732, -122.42226756626336),
 (37.780309908281374, -122.40797509304332),
 (37.75990923766697, -122.39821861129045),
 (37.73072152157033, -122.37560517196246),
 (37.76245918462147, -122.43577384639478),
 (37.760003696335474, -122.43610286882546),
 (37.75648741164431, -122.41439407889236),
 (37.765377517214986, -122.38677502593522),
 (37.76464393726198, -122.42638445080627),
 (37.78047774805081, -122.41251534135559),
 (37.72635675831825, -122.46488743658497),
 (37.74152204010971, -122.38847589542357),
 (37.78782711372249, -122.40838427554218),
 (37.77989123361396, -122.4218931344669),
 (37.77951403006305, -122.41356409174416),
 (37.778719262789004, -122.41474383538245),
 (37.734888515624085, -122.41682427203538),
 (37.76777047915387, -122.40666763740835),
 (37.76422056037451, -122.41965834371042),
 (37.78379987236011, -122.40926844144442),
 (37.76133993163298, -122.50592325634118),
 (37.78528426843183, -122.40949986110704),
 (37.72693463503532, -122.47797668216899),
 (37.77250386874555, -122.42262249452364),
 (37.79149808284252, -122.40574476200904),
 (37.758077443725156, -122.41468332073083),
 (37.750533052329075, -122.41914216556845),
 (37.776362805349976, -122.41336113616799),
 (37.77126576923299, -122.479502311724),
 (37.742004116983544, -122.42228665168916),
 (37.78258519684673, -122.41569492213362),
 (37.75826491350408, -122.41156959247976),
 (37.712914805590884, -122.40510473880354),
 (37.76348131085301, -122.42642689956479),
 (37.775420706711, -122.40340479147905),
 (37.78764305017998, -122.40343408674543),
 (37.79963283707239, -122.43769852946872),
 (37.734081750118506, -122.37943158512581),
 (37.778719262789004, -122.41474383538245),
 (37.75299052945664, -122.40681364077275),
 (37.7741491027518, -122.44440488669885),
 (37.79235431806047, -122.40714244683905),
 (37.7851670875517, -122.41790397756375),
 (37.78186218830212, -122.41386963255408),
 (37.763822225942114, -122.4135916955608),
 (37.75808997677862, -122.42805170764449),
 (37.78693919106971, -122.4119558699062),
 (37.7816031438671, -122.4163519873519),
 (37.73470805032578, -122.412116997388),
 (37.77204725980253, -122.42258614190389),
 (37.774384171506966, -122.46494471615611),
 (37.78662662692111, -122.42332939522903),
 (37.755899472165126, -122.39783245770708),
 (37.793079042260985, -122.40054276483762),
 (37.78316141093946, -122.41161507540771),
 (37.78502266227863, -122.41198764359528),
 (37.76422056037451, -122.41965834371042),
 (37.70864735523271, -122.4053857359687),
 (37.78223058700358, -122.41029351968982),
 (37.78434785131515, -122.40931311143102)]

In [66]:
pd.DataFrame(location_list).mean()

0     37.766740
1   -122.418305
dtype: float64

In [8]:
import folium

In [68]:
import folium
map = folium.Map(location=[37.766740, -122.418305], zoom_start=10)
fg = folium.FeatureGroup(name='rob')

for i in location_list:
    fg.add_child(folium.Marker(location=i, popup='rob', icon=folium.Icon(color='green')))
map.add_child(fg)
map.save('BasicWebMap.html')  # html file saved with icon

In [69]:
# 2. For the latest 15 days of data, create a Web Map of crimes, categorized as FRAUD and GAMBLING. Change the icon to font

last_15day_df = df[df.Date > df['Date'].max() - pd.to_timedelta("15day")]
last_15day_df =  last_15day_df[(last_15day_df['Category'] == 'FRAUD') | (last_15day_df['Category'] == 'GAMBLING')]

In [70]:
last_15day_df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
9248,161038532,FRAUD,FALSE ID TO PEACE OFFICER,Thursday,2016-12-22,14:24,INGLESIDE,"ARREST, BOOKED",5400 Block of MISSION ST,-122.444314,37.713108,"(37.71310834332644, -122.44431402518809)",16103853227065
9794,161044012,FRAUD,FRAUDULENT USE OF AUTOMATED TELLER CARD,Friday,2016-12-23,22:30,TENDERLOIN,NONE,100 Block of OFARRELL ST,-122.407244,37.786565,"(37.78656476076854, -122.4072440870319)",16104401209250
11464,161060739,FRAUD,"CELLULAR OR CORDLESS PHONE COMMUNICATIONS, INT...",Friday,2016-12-30,19:10,BAYVIEW,NONE,0 Block of NORTHRIDGE RD,-122.375605,37.730722,"(37.73072152157033, -122.37560517196246)",16106073909269
15268,170007075,FRAUD,FRAUDULENT USE OF AUTOMATED TELLER CARD,Saturday,2016-12-31,09:00,INGLESIDE,NONE,100 Block of RAE AV,-122.449529,37.711166,"(37.711166017359545, -122.4495294931766)",17000707509250
18802,170050585,FRAUD,"CREDIT CARD, THEFT BY USE OF",Friday,2016-12-23,20:00,SOUTHERN,NONE,800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.40340479147905)",17005058509320

In [71]:
location_list_15d = list(last_15day_df['Location'])

In [75]:
for i in range(len(location_list_15d)):
    location_list_15d[i] = eval(location_list_15d[i])

In [76]:
location_list_15d

[(37.71310834332644, -122.44431402518809),
 (37.78656476076854, -122.4072440870319),
 (37.73072152157033, -122.37560517196246),
 (37.711166017359545, -122.4495294931766),
 (37.775420706711, -122.40340479147905),
 (37.77119620323764, -122.41328752719359),
 (37.781179378936784, -122.41965008706141),
 (37.78852147032575, -122.42357292985241),
 (37.78938922271775, -122.43386682459999),
 (37.768592618426766, -122.45052276174897),
 (37.769215670589396, -122.45270634032182),
 (37.78125509354836, -122.45886061567023),
 (37.7441460741742, -122.46714803515285),
 (37.745030760725456, -122.43782803519994),
 (37.78792690045113, -122.40324615860122),
 (37.72202452302475, -122.50167243507434),
 (37.774871368436045, -122.4293875744055),
 (37.786043222299234, -122.41050925879496),
 (37.786043222299234, -122.41050925879496),
 (37.75845938382661, -122.48637646535566),
 (37.73221442720333, -122.39784553418322),
 (37.74213368194098, -122.42501817475811),
 (37.79093729459998, -122.40218963261235),
 (37.77440777591329, -122.41090010826743),
 (37.78167871037772, -122.40671451277443),
 (37.716458683081136, -122.44101810888789),
 (37.76050007259955, -122.4148451392064),
 (37.79188233555996, -122.40999936188335),
 (37.765851097743536, -122.41967661614986),
 (37.79414474237039, -122.39642194376758),
 (37.7973631784416, -122.40583874580962),
 (37.76074307856358, -122.4238366344616),
 (37.78862889664097, -122.4469910330981),
 (37.78862889664097, -122.4469910330981),
 (37.75723222791403, -122.4156293324455),
 (37.787109454289954, -122.40642786235999),
 (37.775420706711, -122.40340479147905),
 (37.7857850619382, -122.41256321850805),
 (37.785062942166064, -122.4065209871443),
 (37.78662723254503, -122.40586165724628),
 (37.775951244274886, -122.42279133102403),
 (37.78656476076854, -122.4072440870319),
 (37.78264629263709, -122.40037799404871),
 (37.771338280449925, -122.42530035193744),
 (37.77514629165388, -122.41925789481357),
 (37.79368360077286, -122.41449219866352),
 (37.755343095442036, -122.40668105726543),
 (37.72807545690938, -122.39293166274219),
 (37.775420706711, -122.40340479147905),
 (37.776347160457576, -122.41715971049094),
 (37.76844015856147, -122.39742619472587),
 (37.775420706711, -122.40340479147905),
 (37.78418470913026, -122.41856209710514),
 (37.785062942166064, -122.4065209871443),
 (37.776764029771215, -122.39682927195898),
 (37.76746252618251, -122.41983289014406),
 (37.78531003113369, -122.42638282082599),
 (37.72886198811611, -122.41667714691248),
 (37.77246824000607, -122.38951764803554),
 (37.78302957160442, -122.4310463660887),
 (37.78043733189962, -122.47724102239052),
 (37.78083877913966, -122.44957086524353),
 (37.740123769081016, -122.41870263036009),
 (37.78418935014246, -122.4076335207421),
 (37.79794667329829, -122.40646064350669),
 (37.787359494955986, -122.40823102626115),
 (37.72411745184828, -122.40707805088813),
 (37.78282144901397, -122.43268094292587),
 (37.77480877654653, -122.47737908972427),
 (37.78792093755329, -122.41088282555116),
 (37.76482425436504, -122.46951755614448),
 (37.716636765558974, -122.46142450878418),
 (37.71334085839176, -122.40333580109288),
 (37.808261330543914, -122.41498825259077),
 (37.77091305661651, -122.41054116698672),
 (37.783310406701474, -122.3883798739193),
 (37.77594528246741, -122.47136915597709),
 (37.75875332169535, -122.43130271352042),
 (37.73714250196569, -122.50329061156219),
 (37.783310406701474, -122.3883798739193),
 (37.78999994440387, -122.42480030708464),
 (37.71331778444795, -122.47287586133902),
 (37.79794667329829, -122.40646064350669),
 (37.70960320411078, -122.40988854079697),
 (37.781270743449376, -122.41133956255712),
 (37.76422056037451, -122.41965834371042),
 (37.775794338257725, -122.47468331987552),
 (37.78661446133656, -122.40640166833452),
 (37.79947044440399, -122.41963488407497),
 (37.78689969776589, -122.48852518609745),
 (37.775420706711, -122.40340479147905)]

In [78]:
pd.DataFrame(location_list_15d).mean()

0     37.769393
1   -122.423844
dtype: float64

In [79]:
import folium
map = folium.Map(location=[37.769393, -122.423844], zoom_start=12)
fg = folium.FeatureGroup(name='15d')

for i in location_list_15d:
    fg.add_child(folium.Marker(location=i, popup='gamb', icon=folium.Icon(color='green')))
map.add_child(fg)
map.save('BasicWebMap15d.html')  # html file saved with icon

In [ ]:
# 3. BONUS ASSIGNMENT -- Display heatmap for Divvy Bikes. Divvy Bikes runs bike rental services in Chicago, 
# and their bike station geolocation data is shared. Refer to BikesHeatMap.py, Divvy_Stations_2016_Q3.csv, 
# and Divvy_Stations_2016_Q4.csv

In [80]:
df2 = pd.read_csv(r'C:\D\Python_25Sep21\M9_dataset\983_m9_datasets_v1.0\Divvy_Stations_2016_Q3.csv')
df3 = pd.read_csv(r'C:\D\Python_25Sep21\M9_dataset\983_m9_datasets_v1.0\Divvy_Stations_2016_Q4.csv')

In [81]:
df2.head()

,id,name,latitude,longitude,dpcapacity,online_date
0,456,2112 W Peterson Ave,41.991178,-87.683593,15,5/12/2015
1,101,63rd St Beach,41.781016,-87.576120,23,4/20/2015
2,109,900 W Harrison St,41.874675,-87.650019,19,8/6/2013
3,21,Aberdeen St & Jackson Blvd,41.877726,-87.654787,15,6/21/2013
4,80,Aberdeen St & Monroe St,41.880420,-87.655599,19,6/26/2013

In [82]:
df3.head()

,id,name,latitude,longitude,dpcapacity,online_date
0,456,2112 W Peterson Ave,41.991178,-87.683593,15,5/12/2015
1,101,63rd St Beach,41.781016,-87.576120,23,4/20/2015
2,109,900 W Harrison St,41.874675,-87.650019,19,8/6/2013
3,21,Aberdeen St & Jackson Blvd,41.877726,-87.654787,15,6/21/2013
4,80,Aberdeen St & Monroe St,41.880420,-87.655599,19,6/26/2013

In [86]:
df2['location'] = list(zip(df2.latitude, df2.longitude))

df2.head()

,id,name,latitude,longitude,dpcapacity,online_date,location
0,456,2112 W Peterson Ave,41.991178,-87.683593,15,5/12/2015,"(41.991178000000005, -87.683593)"
1,101,63rd St Beach,41.781016,-87.576120,23,4/20/2015,"(41.78101637, -87.57611976)"
2,109,900 W Harrison St,41.874675,-87.650019,19,8/6/2013,"(41.874675, -87.650019)"
3,21,Aberdeen St & Jackson Blvd,41.877726,-87.654787,15,6/21/2013,"(41.87772613, -87.65478743)"
4,80,Aberdeen St & Monroe St,41.880420,-87.655599,19,6/26/2013,"(41.88042, -87.655599)"

In [88]:
divvy_location = list(df2.location)

[(41.991178000000005, -87.683593),
 (41.78101637, -87.57611976),
 (41.874675, -87.650019),
 (41.87772613, -87.65478743),
 (41.88042, -87.655599),
 (41.88283, -87.661206),
 (41.866095, -87.60726700000001),
 (41.961040999999994, -87.705866),
 (41.84447501, -87.70201301),
 (41.91402671, -87.70512646),
 (41.88949182, -87.68821936),
 (41.865234, -87.666507),
 (41.853809999999996, -87.665897),
 (41.803022999999996, -87.664699),
 (41.779374, -87.664843),
 (41.774074, -87.663815),
 (41.768726, -87.664069),
 (41.83920868, -87.66560986),
 (41.899643, -87.6677),
 (41.956061, -87.668869),
 (41.907066, -87.667252),
 (41.895965999999994, -87.66774699999999),
 (41.90345, -87.66774699999999),
 (41.792821999999994, -87.664429),
 (41.950687, -87.6687),
 (41.891071999999994, -87.666611),
 (41.87429061, -87.66724564),
 (41.88541, -87.66731999999999),
 (41.80887, -87.66454),
 (41.823465, -87.665577),
 (41.936083, -87.66980699999999),
 (41.92883, -87.66850699999999),
 (41.894887, -87.774704),
 (41.887919000000004, -87.774446),
 (41.93944839, -87.72355383),
 (41.953393, -87.73200200000001),
 (42.048214, -87.683485),
 (41.918440000000004, -87.65222),
 (41.802562, -87.59036800000001),
 (41.857556, -87.661535),
 (42.019537, -87.669563),
 (41.972972, -87.659637),
 (41.937725, -87.644095),
 (41.940106, -87.645451),
 (41.978353000000006, -87.65975300000001),
 (41.945512, -87.64598000000001),
 (41.99477969, -87.66028453),
 (41.98404461, -87.66027383),
 (41.952833, -87.64999300000001),
 (41.98974251, -87.66014062),
 (41.949065000000004, -87.648601),
 (41.965485, -87.657238),
 (41.98366471, -87.69642256),
 (41.856268, -87.613348),
 (41.854015999999994, -87.69544499999999),
 (41.84910969, -87.69513981),
 (41.84404003, -87.69529592),
 (41.926618, -87.69789899999999),
 (41.95216219, -87.69805111),
 (41.903029, -87.697474),
 (41.93842879, -87.69800776),
 (41.918121, -87.696972),
 (41.88445396, -87.69629814),
 (41.922695000000004, -87.697153),
 (41.961068, -87.69543900000001),
 (41.91044, -87.6972),
 (41.857611, -87.619407),
 (41.85418425, -87.61915374),
 (41.8349, -87.61793),
 (41.831379, -87.618034),
 (41.80229465, -87.61805358),
 (41.76550801, -87.61691793),
 (41.92463247, -87.68930701),
 (41.96152593, -87.69116504),
 (41.910534999999996, -87.68955600000001),
 (41.879255, -87.639904),
 (41.874337, -87.639566),
 (41.878412, -87.641052),
 (41.882090999999996, -87.639833),
 (41.880884, -87.639525),
 (41.870257, -87.63947399999999),
 (41.92675599, -87.63442878),
 (41.894556, -87.653449),
 (41.894958, -87.764902),
 (41.872993, -87.764499),
 (41.887664, -87.765469),
 (41.880121, -87.763238),
 (41.93533728, -87.71688929),
 (41.90965688, -87.71663195),
 (41.85420431, -87.71540584),
 (41.875679, -87.71547),
 (42.063999, -87.685962),
 (42.063598, -87.69873),
 (41.751802000000005, -87.574845),
 (42.050491, -87.677821),
 (42.032562, -87.679101),
 (41.96835449, -87.71183067),
 (41.872131, -87.746619),
 (41.886841, -87.745261),
 (41.877613000000004, -87.745405),
 (41.890572999999996, -87.622072),
 (41.907781, -87.685854),
 (41.957879, -87.649519),
 (41.961003999999996, -87.649603),
 (41.967968, -87.650001),
 (41.870816, -87.63124599999999),
 (41.918306, -87.636282),
 (41.97799665, -87.6680471),
 (41.983593, -87.669154),
 (41.896544, -87.630931),
 (42.00445063, -87.67240240000001),
 (41.87593267, -87.63058454),
 (41.902972999999996, -87.63128),
 (41.99089375, -87.66958340000001),
 (41.95078, -87.659172),
 (42.015963, -87.675005),
 (41.88602083, -87.63087606),
 (41.967096000000005, -87.667429),
 (41.915689, -87.6346),
 (42.00906913, -87.67371139),
 (41.961588, -87.666036),
 (41.911974, -87.63194200000001),
 (41.88457623, -87.63188991),
 (41.907993, -87.631501),
 (41.99925182, -87.67137734),
 (42.01256012, -87.67436712),
 (41.93649682, -87.64753866),
 (41.973385, -87.66836500000001),
 (41.929546, -87.643118),
 (41.918215999999994, -87.656936),
 (41.968872999999995, -87.658857),
 (41.85795, -87.640826),
 (41.885637, -87.641823),
 (41.882242, -87.64106600000001),
 (41.87146652, -87.64094913),
 (41.86711778, -87.64108796),
 (41.875885, -87.640795),
 (41.883379999999995, -87.64116999999999),
 (41.904613, -87.640552),
 (41.884728, -87.61952099999999),
 (41.744607, -87.551201),
 (41.885502, -87.71686600000001),
 (41.802406, -87.586924),
 (41.816499, -87.60658199999999),
 (41.809855, -87.606755),
 (41.803038, -87.606615),
 (41.78059901, -87.60611239),
 (41.77372095, -87.60563486),
 (41.76571904, -87.60495971),
 (41.753174, -87.605026),
 (41.744053, -87.604786),
 (41.822984999999996, -87.6071),
 (41.898168, -87.783055),
 (41.884240999999996, -87.629634),
 (41.800908, -87.674684),
 (41.783681, -87.67410100000001),
 (41.899714, -87.677234),
 (41.920082, -87.67785500000001),
 (41.895769, -87.67721999999999),
 (41.931931, -87.677856),
 (41.916027, -87.67741099999999),
 (41.8492, -87.67564),
 (41.855048, -87.675726),
 (41.90331, -87.67695),
 (41.975614799999995, -87.67945904),
 (41.794587, -87.674254),
 (41.891220000000004, -87.67685999999999),
 (41.967094, -87.679028),
 (41.881370000000004, -87.67493),
 (41.9406, -87.6785),
 (41.823192, -87.676597),
 (41.90939601, -87.67769193),
 (41.96325, -87.67925799999999),
 (41.93588, -87.67841999999999),
 (41.91057803, -87.64942193),
 (41.898969, -87.629912),
 (41.87935636, -87.62979104),
 (41.893992, -87.62931800000001),
 (41.88131982, -87.62952092),
 (41.878287, -87.643909),
 (41.88871604, -87.64444785),
 (41.88461619, -87.64457058),
 (42.048308, -87.698224),
 (41.805772, -87.592464),
 (41.78040565, -87.59141599),
 (41.94678185, -87.71642152),
 (41.92439882, -87.71544104),
 (41.96115408, -87.71656907),
 (41.88504199, -87.61279454),
 (41.79156801, -87.60785218),
 (41.871311999999996, -87.788938),
 (41.880113, -87.789247),
 (42.021019, -87.665086),
 (41.78414169, -87.61330783),
 (41.89637337, -87.66098386),
 (41.80839, -87.656526),
 (41.79933626, -87.60095811),
 (41.79430062, -87.60144977),
 (41.788746, -87.601334),
 (41.78509715, -87.60107276),
 (41.744122999999995, -87.599034),
 (42.025784, -87.684107),
 (41.912919, -87.664169),
 (41.843579999999996, -87.645368),
 (41.838198, -87.645143),
 (41.758308, -87.606685),
 (41.751731, -87.552812),
 (41.89186, -87.62062),
 (41.866624, -87.694521),
 (41.87207763, -87.62954377),
 (41.88634906, -87.61751655),
 (41.865312, -87.617867),
 (41.87500913, -87.63310582),
 (41.894071000000004, -87.80036700000001),
 (41.888909999999996, -87.800255),
 (41.838556, -87.60821800000001),
 (41.97563273, -87.70141944),
 (41.896776, -87.635633),
 (41.87770796, -87.63532114),
 (41.885837, -87.6355),
 (41.880317, -87.63518499999999),
 (41.878724, -87.634793),
 (42.00797192, -87.66550239),
 (42.012701, -87.66605799999999),
 (41.881892, -87.64878900000001),
 (41.883668, -87.64867),
 (41.932595, -87.665939),
 (41.925329999999995, -87.6658),
 (42.015962, -87.66856999999999),
 (41.809835, -87.59938299999999),
 (41.751294, -87.59755200000001),
 (41.857499, -87.646277),
 (41.85378, -87.64665),
 (41.830661, -87.647172),
 (41.827059000000006, -87.64572),
 (41.80813391, -87.64561655),
 (41.80183164, -87.6452139),
 (41.79292965, -87.64499006),
 (41.787539, -87.644874),
 (41.77938114, -87.64462081),
 (41.76906172, -87.64461358),
 (41.847203, -87.646795),
 (41.908537, -87.648627),
 (41.919936, -87.64883),
 (41.933665999999995, -87.64895899999999),
 (41.864883, -87.647071),
 (41.89936844, -87.64847988),
 (41.87184, -87.64664),
 (41.867323999999996, -87.648625),
 (41.943670000000004, -87.64895),
 (41.913778, -87.64884),
 (41.929142999999996, -87.649077),
 (41.93262, -87.642385),
 (41.78794281, -87.58831517),
 (41.871514000000005, -87.669886),
 (41.808227, -87.67718),
 (41.91751339, -87.70180896),
 (41.900146, -87.70288199999999),
 (41.890491, -87.776842),
 (41.845434999999995, -87.622176),
 (41.838842, -87.62185699999999),
 (41.82168, -87.6216),
 (41.867888, -87.623041),
 (41.880421999999996, -87.642746),
 (41.77351755, -87.57714283),
 (41.76663824, -87.57645011),
 (41.75712007, -87.57583936),
 (41.85353363, -87.70507303),
 (41.84819094, -87.70541375),
 (41.98239708, -87.70892252),
 (41.8954653, -87.70612788),
 (41.975671999999996, -87.709261),
 (41.87359967, -87.70487075),
 (41.88460329, -87.70630374),
 (41.96668636, -87.70805198),
 (41.929567, -87.70785699999999),
 (41.921525, -87.70732199999999),
 (41.86649278, -87.70649618),
 (41.880708, -87.74101800000001),
 (41.924361, -87.727752),
 (41.96110802, -87.72897009999998),
 (41.953733, -87.740569),
 (41.948818, -87.74002),
 (41.939398, -87.711561),
 (41.799568, -87.594747),
 (41.893882, -87.641711),
 (41.88917683, -87.63850577),
 (41.960631, -87.745359),
 (41.93058537, -87.72377736),
 (41.877917, -87.735737),
 (41.885928, -87.73541),
 (41.83127424, -87.60879919),
 (41.809443, -87.591875),
 (41.79949429, -87.5864499),
 (41.793242, -87.58778199999999),
 (41.940775, -87.63919200000001),
 (41.932684, -87.63625),
 (41.880958, -87.616743),
 (41.911722, -87.626804),
 (41.89257, -87.614492),
 (41.936669, -87.636794),
 (41.984036700000004, -87.65231047),
 (41.925858000000005, -87.638973),
 (41.875806, -87.755285),
 (41.887832, -87.755527),
 (41.880207, -87.755337),
 (41.918084, -87.643749),
 (41.90348607, -87.64335349),
 (41.897764, -87.642884),
 (41.91468, -87.64331999999999),
 (41.91021, -87.6435),
 (41.90021949, -87.64298547),
 (41.921822, -87.64414000000001),
 (41.87934437, -87.63198522),
 (41.890749, -87.63206),
 (41.878170000000004, -87.631985),
 (41.882664, -87.63253),
 (41.84988195, -87.71700039),
 (41.94702904, -87.68336721),
 (41.82879202, -87.68060446),
 (41.917805, -87.682437),
 (41.968885, -87.684001),
 (41.910153, -87.68229000000001),
 (41.946176, -87.67330799999999),
 (41.955927, -87.679259),
 (41.939365, -87.668385),
 (41.932225, -87.658617),
 (41.925905, -87.64926),
 (41.962391, -87.684146),
 (41.94334, -87.67097),
 (41.94911, -87.675112),
 (41.974911299999995, -87.69250256),
 (41.930584, -87.685126),
 (41.870699, -87.778797),
 (41.87981, -87.779425),
 (41.84163254, -87.65743495),
 (41.877945000000004, -87.66200699999999),
 (41.872187, -87.661501),
 (41.869417, -87.660996),
 (41.96631753, -87.70108268),
 (41.99023603, -87.69336964),
 (41.9716, -87.650154),
 (41.88681, -87.80287),
 (41.813996, -87.666589),
 (41.786833, -87.66621500000001),
 (41.916017, -87.668879),
 (41.879979999999996, -87.773264),
 (41.768938, -87.652934),
 (41.855136, -87.654127),
 (41.886773, -87.656001),
 (41.88397, -87.655688),
 (41.8694821, -87.6554864),
 (41.894503, -87.61785400000001),
 (41.891020000000005, -87.6173),
 (41.85137517, -87.61883465),
 (41.864059000000005, -87.623727),
 (41.857813, -87.62455),
 (41.872638, -87.623979),
 (41.876243, -87.624426),
 (41.87785, -87.62408),
 (41.886024, -87.624117),
 (41.882134, -87.625125),
 (41.90096039, -87.62377664),
 (41.897659999999995, -87.62351),
 (41.88389277, -87.62464914),
 (41.89858665, -87.62191523),
 (41.89691, -87.62174300000001),
 (41.84456685, -87.71591031),
 (41.8810317, -87.62408432),
 (41.954468, -87.74959399999999),
 (41.920195, -87.693033),
 (41.912616, -87.681391),
 (41.842052, -87.617),
 (41.809851, -87.616279),
 (41.79342946, -87.61585326),
 (41.78008064, -87.61594286),
 (41.743116, -87.6148),
 (41.822559999999996, -87.61615),
 (41.95400484, -87.71912818),
 (41.963982, -87.638181),
 (41.862378, -87.651062),
 (41.858086, -87.651073),
 (41.8378, -87.65114),
 (41.88548331, -87.65230486),
 (41.823613, -87.650931),
 (41.871736999999996, -87.65103),
 (41.79172821, -87.58394501),
 (41.90068, -87.6626),
 (41.763462, -87.637297),
 (41.849527, -87.640591),
 (41.872987, -87.793945),
 (41.886922999999996, -87.793899),
 (41.95434085, -87.68607962),
 (42.012342, -87.688243),
 (41.89636246, -87.65406127),
 (41.875009999999996, -87.67328),
 (41.891795, -87.658751),
 (41.86650148, -87.68469707),
 (41.898203, -87.637536),
 (41.902924, -87.637715),
 (41.888243, -87.63639),
 (41.892154, -87.636928),
 (41.910337, -87.67007199999999),
 (41.857901, -87.668745),
 (42.019159, -87.673573),
 (41.961507, -87.671387),
 (41.877749, -87.649633),
 (41.76929309, -87.62819593),
 (41.75182, -87.565211),
 (41.746334000000004, -87.564725),
 (41.954383, -87.648043),
 (41.949275, -87.646303),
 (41.81665889, -87.61941246),
 (41.794853, -87.618691),
 (41.80931771, -87.63344929),
 (41.794982, -87.633124),
 (41.874325, -87.72570400000001),
 (41.94563644, -87.72773681),
 (41.885409, -87.72649100000001),
 (41.880827000000004, -87.726279),
 (41.865054, -87.656959),
 (41.861267, -87.656625),
 (41.858166, -87.65649499999999),
 (41.83069611, -87.65597591),
 (41.783189, -87.654372),
 (41.775393, -87.654308),
 (41.939743, -87.658865),
 (41.87464, -87.65703),
 (41.92556258, -87.65840426),
 (41.794694, -87.65494699999999),
 (41.928886999999996, -87.658971),
 (41.75787145, -87.54938625),
 (41.97977022, -87.67581473),
 (41.957921, -87.673567),
 (41.95469, -87.67393),
 (41.96909, -87.674237),
 (41.961615, -87.67436500000001),
 (41.836208, -87.61353299999999),
 (41.93190197, -87.70119513),
 (42.019276, -87.68451999999999),
 (42.01213228, -87.68291264),
 (41.888085, -87.785236),
 (41.906782, -87.626402),
 (41.96590014, -87.69363849),
 (41.902308700000006, -87.62769053),
 (41.890011, -87.626293),
 (41.89576475, -87.62590803),
 (41.889727, -87.70103),
 (41.75874584, -87.56011478),
 (41.883004, -87.65114799999999),
 (41.95358618, -87.7093108),
 (41.894666, -87.638437),
 (41.911386, -87.638677),
 (41.907576, -87.63851700000001),
 (41.922167, -87.638888),
 (41.943403, -87.679618),
 (41.86722596, -87.61535539),
 (41.946965999999996, -87.65424200000001),
 (41.92560188, -87.65370804),
 (41.910522, -87.65310600000001),
 (41.92154, -87.653818),
 (41.936265999999996, -87.652662),
 (41.913688, -87.652855),
 (41.928712, -87.65383299999999),
 (41.958494, -87.654966),
 (42.01058656, -87.66241209),
 (41.954245, -87.65440600000001),
 (41.969516999999996, -87.654691),
 (42.00104378, -87.66119824),
 (41.96167, -87.65464),
 (42.058239, -87.677432),
 (41.842733, -87.635491),
 (41.838464, -87.635406),
 (41.81620768, -87.63481935),
 (41.795212, -87.580715),
 (41.743921, -87.575225),
 (41.77366885, -87.56733865),
 (41.76640946, -87.56568757),
 (41.76218896, -87.55927465),
 (41.93949, -87.66378),
 (41.957081, -87.664199),
 (41.920771, -87.663712),
 (41.954177, -87.664358),
 (41.943739, -87.66402),
 (41.94815, -87.66394),
 (41.935733, -87.663576),
 (41.928773, -87.663913),
 (41.91718375, -87.71035665),
 (41.90270659, -87.70921957),
 (41.894448, -87.622663),
 (41.98039423, -87.71611496),
 (41.856594, -87.627542),
 (41.841707, -87.626938),
 (41.834734000000005, -87.625813),
 (41.83104, -87.62688),
 (41.756971, -87.62462099999999),
 (41.750794, -87.624424),
 (41.874053, -87.627716),
 (41.889179999999996, -87.6277),
 (41.897448, -87.628722),
 (41.82301524, -87.62656802),
 (41.8847302, -87.62773357),
 (41.877181, -87.627844),
 (41.917741, -87.69139200000001),
 (41.886835, -87.62232),
 (41.93132, -87.63874200000001),
 (41.77870057, -87.58678762),
 (41.773458500000004, -87.58533974),
 (41.76649294, -87.58646088),
 (41.75866967, -87.58688287),
 (41.746559000000005, -87.586005),
 (41.751173, -87.585337),
 (41.892278000000005, -87.612043),
 (41.94663583, -87.69461476),
 (41.926277, -87.630834),
 (41.799659000000005, -87.657195),
 (41.94524357, -87.7066499),
 (41.909769299999994, -87.70528049),
 (41.81763809, -87.64356503),
 (41.891000000000005, -87.645925),
 (41.791478000000005, -87.599861),
 (42.052939, -87.673447),
 (42.039742, -87.699413),
 (41.758361, -87.614138),
 (41.750951, -87.613783),
 (41.860384, -87.625813),
 (41.743316, -87.622849),
 (41.736646, -87.62263399999999),
 (41.871961999999996, -87.62610600000001),
 (41.87947235, -87.62568861),
 (41.852619, -87.626488),
 (41.891738000000004, -87.626937),
 (41.867227, -87.625961),
 (41.886875, -87.62603),
 (41.88327159, -87.63731329),
 (41.830628999999995, -87.64129),
 (42.00454962, -87.68066615),
 (42.00200726, -87.68972623),
 (41.86148, -87.693374),
 (41.96871107, -87.69616957),
 (41.856802, -87.63387900000001),
 (41.912133000000004, -87.634656),
 (41.903222, -87.63432399999999),
 (41.906724, -87.63483000000001),
 (41.894729, -87.633775),
 (41.872372999999996, -87.633523),
 (41.89993001, -87.63443007),
 (41.849237, -87.631715),
 (41.83452989, -87.63182298),
 (41.830777000000005, -87.632504),
 (41.78007963, -87.62974631),
 (41.853605, -87.631886),
 (41.85394, -87.685243),
 (41.84847, -87.685109),
 (41.84151771, -87.68513144),
 (41.87474885, -87.68644528),
 (41.902893, -87.687275),
 (41.99416137, -87.68943828),
 (42.018901, -87.690048),
 (41.966555, -87.688487),
 (42.00859439999999, -87.69049224),
 (41.87978771, -87.68611281),
 (41.94302616, -87.68739454),
 (41.89841769, -87.68659602),
 (41.915401, -87.687202),
 (41.805661, -87.683392),
 (41.94018, -87.65304),
 (41.932418, -87.65270500000001),
 (41.92409085, -87.67646007),
 (41.879837, -87.80224),
 (42.016977000000004, -87.677725),
 (41.871262, -87.673688),
 (41.83010465, -87.67029831),
 (41.90332, -87.67273),
 (41.89113, -87.67203),
 (41.907655, -87.672552),
 (41.869153999999995, -87.67104499999999),
 (41.795264, -87.596471),
 (41.759159999999994, -87.595751),
 (41.81409271, -87.59700515),
 (41.758767999999996, -87.56644)]

In [91]:
from glob import glob
import numpy as np
import folium
from folium import plugins
from folium.plugins import HeatMap

lon, lat = -86.276, 30.935 
zoom_start = 5


data = (
    np.random.normal(size=(100, 3)) *
    np.array([[1, 1, 1]]) +
    np.array([[48, 5, 1]])
).tolist()
m = folium.Map([48, 5], tiles='stamentoner', zoom_start=6)

HeatMap(data).add_to(folium.FeatureGroup(name='Heat Map').add_to(m))
folium.LayerControl().add_to(m)