#### Case Study
Business challenge/requirementGoodsKart—largest ecommerce company of Indonesia with revenue of $2B+ acquired another ecommerce company FairDeal.  FairDeal has its own IT system to maintain records of customer, sales etc.For ease of maintenance and cost savings GoodsKart is integrating customer databases of both the organizations hence customer data of FairDeal has to be converted in GoodsKartCustomer Format.

Key issues : GoodsKart customer data has more fields than in FairDeal customer data. Hence FairDeal data needs to be split and stored in GoodsKart Customer Object Oriented Data Structure

Considerations: System should convert the data at run time

Business benefits: GoodsKart can eventually sunset IT systems of FairDeal and reduce IT cost by 20-30%

Approach to Solve: You have to use fundamentals of Python
1.Read FairDealCustomerData.csv
2.Name field contains full name –use regular expression to separate title, first name, last name
3.Store the data in Customer Class
4.Create Custom Exception –CustomerNotAllowedException
5.Pass a customer to function "createOrder" and throw CustomerNotAllowedExceptionin case of blacklisted value is 1

Enhancements for codeYou can try these enhancements in code
1.Change function createOrder to take productname and product code as input
2.Create Class OrderReturn object of type Order in case customer is eligible

In [1]:
import pandas as pd

In [71]:
df = pd.read_csv(r'D:\Edureka\FairDealCustomerData.csv', header=None)
print(df.shape)
df.head(2)

(532, 3)

            0                  1  2
0      Braund   Mr. Owen Harris   1
1   Heikkinen       Miss. Laina   0

In [72]:
df.columns = ['product', 'customer_name', 'exception']

In [73]:
df.head(2)

      product      customer_name  exception
0      Braund   Mr. Owen Harris           1
1   Heikkinen       Miss. Laina           0

In [74]:
#df['name_prefix'], df['f_name'], df['l_name'] = df['customer_name'].map(lambda x: x.split(' ')[1]), df['customer_name'].map(lambda x: x.split(' ')[2]), df['customer_name'].map(lambda x: x.split(' ')[3])

In [75]:
import re
def str_split(x):
    return re.split(r' ', x)

In [76]:
df['customer_name'] = df['customer_name'].apply(str_split)

In [81]:
df.head(2)

      product            customer_name  exception
0      Braund  [, Mr., Owen, Harris, ]          1
1   Heikkinen       [, Miss., Laina, ]          0

In [82]:
df['prefix'] = df['customer_name'].map(lambda x: x[1])
df['f_name'] = df['customer_nam
                  e'].map(lambda x: x[2])
df['l_name'] = df['customer_name'].map(lambda x: x[3])

In [83]:
df.head()

      product              customer_name  exception prefix   f_name  l_name
0      Braund    [, Mr., Owen, Harris, ]          1    Mr.     Owen  Harris
1   Heikkinen         [, Miss., Laina, ]          0  Miss.    Laina
2       Allen  [, Mr., William, Henry, ]          0    Mr.  William   Henry
3       Moran           [, Mr., James, ]          0    Mr.    James
4    McCarthy      [, Mr., Timothy, J, ]          0    Mr.  Timothy       J

In [85]:
df.drop('customer_name', axis=1, inplace=True)

In [86]:
df.head()

      product  exception prefix   f_name  l_name
0      Braund          1    Mr.     Owen  Harris
1   Heikkinen          0  Miss.    Laina
2       Allen          0    Mr.  William   Henry
3       Moran          0    Mr.    James
4    McCarthy          0    Mr.  Timothy       J

In [95]:
def excep(x):
    if x == 1:
        return 'Blacklist'
    else:
        return 'Whitelisted'

In [96]:
df['custom_exception'] = df['exception'].map(excep)

In [113]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [114]:
df.head()

     product  exception prefix   f_name  l_name custom_exception
0     Braund          1    Mr.     Owen  Harris        Blacklist
1  Heikkinen          0  Miss.    Laina              Whitelisted
2      Allen          0    Mr.  William   Henry      Whitelisted
3      Moran          0    Mr.    James              Whitelisted
4   McCarthy          0    Mr.  Timothy       J      Whitelisted

In [116]:
df[df['product'] == 'Allen']

    product  exception prefix     f_name  l_name custom_exception
2     Allen          0    Mr.    William   Henry      Whitelisted
443   Allen          0  Miss.  Elisabeth  Walton      Whitelisted

In [125]:
def eligible(x,y):
    if (df[(df['product']=='Allen') & (df['f_name']=='William')]):
        return (df['custom_exception'])

In [217]:
def eligible_(x,y):
        return df[(df['product']=='Allen') & (df['f_name']=='William')]['custom_exception']

In [218]:
eligible_('Allen','William')

2    Whitelisted
Name: custom_exception, dtype: object